*, *::before, *::after{
    text-decoration: none;
    text-transform: capitalize;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #1a134b;
    font-family: "Ubuntu", sans-serif;
}

button{
    border: 0;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
}
.navbar {
    height: 90px;
    background-color: #050028;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .logo a{
    font-size: 24px;
    font-weight: 700;
    color: white;
    margin-left: 12px;
}
.navbar img{
    width: 100px;
}
.menu{
    display: flex;
    align-items: center;
    gap: 32px;
}
.menu-links{
    display: flex;
    gap: 24px;
    border-right: 1px solid #999999;
    padding-inline: 24px;
}
.menu-links a{
    font-weight: 500;
    color: #999999;
    padding: 8px 16px;
}
.menu-links a:hover{
    color: white;
}
.log-in{
    font-weight: 500;
    padding: 12px 22px;
    background-color: transparent;
    color: #999999;
    border-radius: 10px;
    border: 2px solid #0aa5ff;
    transition: 0.2s;
}
.log-in:hover{
    background-color: #0aa5ff;
    color: white;
}
.menu-btn{
    font-weight: 500;
    color: #999999;
    padding: 8px 16px;
}
.dropdown{
    position: relative;
}
.dropdown-content{
    display: none;
    position: absolute;
    z-index: 1;
    background-color: aliceblue;
    width: 100px;
    border-radius: 2%;
}
.dropdown-content a{
    padding: 10px;
    display: block;
} 
.dropdown-content a:hover{
    color: #0aa5ff;
} 

.date-count {
    display: none;
}

@media(max-width: 53rem){
    .menu{
        display: block;
    }
    .menu-btn{
        display: block;
    }
}