h1 {
  color: #333;
}

#countdown {
  font-size: 48px;
  margin-top: 50px;
  text-align: center;
  height: 200px;
  color: #fff;
}



.grid-container {
  display: grid;
  gap: 50px 5px;
  justify-content: center;
  grid-template-columns: auto auto auto;
  color: #fff;
  padding: 20px;
  padding-top: 200px;
  margin-left: 10%;
}
.grid-container img {
  height: 220px;
  border-radius: 10px;
}

.grid-item {
  padding: 1px;
  font-size: 30px;
  text-align: center;
}
